<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Simple Time Clock</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Time Entry</h1>
    <hr>
    <table border="0" class="table table-responsive-md">
        <tbody>
          <tr>
               <td>
                <a th:href="@{/punchIn/{id}(id=${employee.id})}" class="btn btn-primary">Punch In</a>
               </td>
              <td>
                <a th:href="@{/takeBreak/{id}(id=${employee.id})}" class="btn btn-primary">Take Break</a>
              </td>
              <td>
                <a th:href="@{/takeLunch/{id}(id=${employee.id})}" class="btn btn-primary">Take Lunch</a>
            </td>
              <td>
                  <a th:href="@{/punchOut/{id}(id=${employee.id})}" class="btn btn-primary">Punch Out</a>
              </td>
        </tr>
        </tbody>
    </table>

    <hr>

    <a th:href = "@{/}"> Back to Employee List</a>
</div>
</body>
</html>